<section class="empty-cart">

  <header class="page-header">
    <h4 class="alert alert-info"> <%= fa_icon('exclamation-circle') %> Your cart is currently empty! <%= link_to 'Continue shopping?', :root %></h4>
  </header>

</section>
